
.plant-title1 {
  font-size: 3rem;
  font-weight: 600;
  color: #214332;
  margin-bottom: 20px;
}
.plant-subtitle1 {
  font-size: 1rem;
  color: #214332;
  max-width: 500px;
  margin: 0 auto 50px auto;

  line-height: 1.5;
}
.plant-add1 {
  font-size: 1rem;
  color: #6c757d;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #214332;
}

.plant-card1 {
  position: relative;
  height: 220px;
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);

  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  transition: all 0.4s ease;
}

.plant-card1:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
}

.plant-img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plant-overlay1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;

  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1));
  color: white;
  text-align: left;
}

.shop-now1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(10px);
  opacity: 0;
  transition: all 0.3s ease;
  background: rgba(0,0,0,0.2);
  backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  padding: 6px 16px;
  border-radius: 12px;
  color: white;
  font-weight: 600;
  pointer-events: auto;
  cursor: pointer;
}
.plant-card1:hover .shop-now1 {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(0);
}
.shop-now1:hover{
  background: #214332;

}
.plant-overlay1 h5 {
  margin: 0;
  font-weight: 600;
}

.view-all-categories {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #1e6b43;
  cursor: pointer;
  border-bottom: 1.5px solid #1e6b43;
  padding-bottom: 2px;
  transition: opacity 0.18s;
}

.view-all-categories:hover {
  opacity: 0.7;
}