/* NAVBAR */
.navbar.dropdown-container {
  background-color: rgba(255, 255, 255, 0.55);
  /* soft white */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  position: absolute;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid rgba(23, 46, 34, 0.08);
  /* subtle green-gray line */
}

/* CENTER MENU */
.center-menu {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: flex;
  gap: 30px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.center-menu .nav-link {
  position: relative;
  display: inline-block;
  padding: 0;
  /* remove extra width from Bootstrap */
  margin: 0;
  color: #2d6a4f !important;
  text-decoration: none;
  padding-bottom: 10px;
  /* space between text and underline */
}

/* custom underline */
.center-menu .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /* same width as text */
  height: 3px;
  background-color: #2d6a4f;
  transform: scaleX(0);
  /* hidden by default */
  transform-origin: center;
  transition: transform 0.3s ease;
}

/* hover effect */
.center-menu .nav-link:hover::after {
  transform: scaleX(1);
}

/* RIGHT ICONS */
.right-icons {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #214332;
  margin-right: 50px;
}

/* ICON BOX */
.icon-box {
  width: 33px;
  height: 33px;
  border: 1px solid #214332;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}



/* HOVER EFFECT */
.icon-box:hover {
  background-color: #214332;
  color: #fff;
}

/* USER DROPDOWN FIX */
.user-box .dropdown-toggle {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-box .dropdown-menu {
  right: 0;
  left: auto;
}

/* REMOVE DEFAULT BOOTSTRAP ARROW */
.dropdown-toggle::after {
  display: none !important;
}

/* LOGO SPACING */
.navbar .navbar-brand {
  margin-left: 50px;
}

.navbar .navbar-brand img {
  height: 25px;
}